__pycache__/
covee_env/
*.egg-info/
.vscode/
*.pyc
*.bak
*.orig
*.tmp
*.testing
*~
__pycache__
.idea
.vscode
csv_files/*.csv
*.idea
*.vscode/
*.ipynb_checkpoints/
csv_files/results/
csv_files/plots/
venv_ext
covee_env
dist
build
*.csv
*.eps
*.png

